.header {
  font-family: "Inter", "Arial", sans-serif;
  background-color: #2a2c2f;
  color: #fff;
  padding: 16px 0 48px;
}

@media (min-width: 768px) {
  .header {
    padding-top: 28px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
  }
}
