.footer__container {
  margin: 0 auto;
  max-width: 1184px;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .footer__container {
    padding: 0 48px;
  }
}
