.intro__container {
  max-width: 984px;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .intro__container {
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .intro__container {
    margin: 0 auto;
    padding: 0 48px;
  }
}
