.lead__container {
  margin: 0 auto;
  padding: 0 16px 40px;
}

@media (min-width: 768px) {
  .lead__container {
    padding: 0 24px 56px;
  }
}

@media (min-width: 1280px) {
  .lead__container {
    padding-bottom: 64px;
  }
}
