.intro__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: #fff;
  margin: 0;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
  }
}
